.sort {
    &-bar-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5em;
    }

    &-container {
        display: flex;
        
        &-number {
            margin-right: 1em;
            font-weight: bold;
            font-size: 20px;
            font-family: 'Anton', sans-serif;
        }
    }
    
    &-button {
        margin: 0 1em;
        border: none;
        background: white;
        padding: 1.5em 1em;
        border-radius: 1em;
        width: 190px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        & i {
            color: $secondary-clr;
            font-size: 16px;
        }
    }
}

.no-result {
    display: flex;
    text-align: center;
    margin: auto;
    padding: 5em 0;
}