@import 'fonts';
@import 'variables';
@import 'Header';
@import 'SortBar';
@import 'Recipes';

// PAGE \\
body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    
    & h1, h2 {
        font-family: 'Anton', sans-serif;
    }
}

main {
    background-color: $bg-clr;
    padding: 2em;
}

li {
    list-style-type: none;
}

button, a {
    cursor: pointer;
}